body{
  margin:9.5%;
}


label{
  display: block;
  margin: 2px 0;
  width:100px;
  font-size: 19px;
}
.App {
  display: flex;
  height: 100vh; /* full height of screen */
}
button{
  display: block;
  width: 80px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  margin: 2px 0;
  padding: 5px 10px;
  border-radius: 3px;
  border:none;
  cursor: pointer;
  color: rgb(228, 212, 204);
  font-size: 17px;
}
button:hover{
  background-color: rgb(49, 2, 2);
  color: rgb(253, 249, 249);
  transform: scale(1.1);
}
h3{
  font-size: 35px;
}
input{
  display: block;
  margin: 2px 0;
  padding: 5px 10px;
  width: 200px;
  font-size: 18px;
  
}
.FormContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  height: 100vh;

  width:60%;
  margin:  auto;
  background-color: rgb(231, 230, 230);
  border:none;
  border: 1px solid rgb(197, 192, 192);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}