.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.5%;
    height: 200px;
    width: 50%;

}
.home h1{
     color: brown;
}
.imgstyling img{
  width:100vw;
margin-left: 550px;
  
   
}

/* When screen width <= 768px (tablet & mobile) */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navbar a {
    margin-left: 0;
  }
}
