

.kidssection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 27, 27);
    height: 600px;
    width: 100vw;
    padding-top: 0px;
   
}
.kids{
 
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: blueviolet; 
    color: white;
    height: 400px;
    width: 100vw;
    font-size: 30px;
}