.navbarContainer{
    width: 12%;
    height: 100vh;
    display: flex;

}
.navbar{
    
    height: 100vh;
    background-color: rgb(199, 198, 198);
   
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
  position: fixed;
  top: 0 ;
  left: 0;
  
   
}
*{
    margin: 0;
    padding: 0;
    
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 10px;
}

ul li{
    
    cursor: pointer;
     list-style: none;
     font-size: 18px;
    
     padding :15px 20px;
     width:120px;
     margin: 15px 0;
     
     border-radius: 5px;
     background-color: rgb(199, 198, 198);
}

ul li:hover{
    background-color: rgb(100, 97, 97);
    color: white;
    transform: scale(1.05);

}

li a{
    text-decoration: none;
    color: black;
}