.women{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 216);
  color: rgb(25, 27, 27);
font-size: 30px;
font-style: italic;
  height: 600px;
  width: 100vw
}

.main-content{
    width:800px;
    height:30vh;
    border: 1px solid rgb(197, 193, 193);
    margin:20px 10px;
    padding:15px 20px;
    background-color: bisque;
    border-radius: 3px;
    
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    
}

