.robo-card {
  cursor: pointer;
  background: transparent linear-gradient(275deg, #FBBB5C 0%, #E66A0E 100%);
  border-radius: 5px !important;
}

.robo-container .card{
    border-radius: 5px !important;
    box-shadow: 0px 0px 15px #F7AA4B;
    border: none;
}

.robo-img {
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.robo-img img {
  width: 110%;
  height: 180px;
  margin-left: -50px;
}

.robo-card .robo-card-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.robo-card-text .robo-card-para {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-left: 120px;
}

.robo-card-text button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 15px;
}

.profile-card-row1 {
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  justify-content: center;
  height: 325px;
  margin-bottom: 30px;
  margin-top: -30px;
}

.profile-card-row1 .arena {
  position: relative;
  width: 33%;
  margin-right: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #f7aa4b80;
  border-radius: 6px;
  padding: 15px;
}

.arena .arena-topSection {
  display: flex;
  flex-direction: column;
}

.arena-topSection h4 {
  margin: 0;
  font-weight: 600;
  color: #1a1a17;
  font-size: 20px;
  text-align: left;
}

.arena-topSection button {
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: 130px;
  background: transparent linear-gradient(293deg, #fbbb5c 0%, #e66a0e 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #f7aa4b;
  border-radius: 3px;
  align-self: flex-end;
  margin-top: 8px;
}

.arena .arena-image {
  position: absolute;
  bottom: 0;
}

.arena-image img {
  width: 100%;
  object-fit: cover;
}


.profile-card-row1 .mentor-sphere {
  width: 45%;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #F7AA4B80;
  border-radius: 6px;
  padding: 15px;
  overflow: hidden;
}

.mentor-sphere .mentor-topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mentor-topSection h4 {
  margin: 0;
  font-weight: 600;
  color: #1a1a17;
  font-size: 20px;
}

.mentor-topSection span {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  color: #EF8C2F;
  cursor: pointer;
}

.mentor-sphere .mentor-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent linear-gradient(95deg, #F3673B 0%, #F5C546 100%) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 12px;
}

.profile-card-row1 .portfolio {
  width: 22%;
  margin-left: 15px;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #F7AA4B80;
  border-radius: 6px;
  padding: 15px;
  overflow-y: auto;
}

.profile-card-row1 .portfolio::-webkit-scrollbar {
  width: 3px;
}

.profile-card-row1 .portfolio::-webkit-scrollbar-thumb {
  background-color: #f7aa4b;
  border-radius: 10px;
}

.profile-card-row1 .portfolio::-webkit-scrollbar-track {
  background: #f5f5f5;
}


.portfolio .portfolio-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio h3 {
  font-size: 14px;
}

.portfolio .portfolio-heading span {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  color: #EF8C2F;
  cursor: pointer;
}

.portfolio .profile-side-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.portfolio .profile-side-section h3 {
  font-size: 9px;
  font-weight: 500;
  color: #2C2C2C;
  text-align: right;
}

.portfolio .profile-side-section p {
  font-size: 29px;
  font-weight: bold;
  color: #EA7B20;
}



.profile-extra-details{
  display: none;
}

@media (min-width: 1302px) and (max-width: 1345px) {
  .portfolio .profile-side-section p {
    font-size: 23.5px;
  }
}

@media (max-width: 1024px) {
  .profile-card-row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "portfolio portfolio"
      "arena mentor";
    gap: 20px;
    height: auto;
    width: 100%;
  }

  .profile-extra-details{
  display: flex;
  flex-direction: column;
}

.profile-side-section .profile-extra-details span{
  display: flex;
  flex-direction: row;
  padding: 5px 10px 0 0;
}

.profile-extra-details p {
  font-size: 16px !important;
  font-weight: 600;
  color: #2C2C2C !important;
  padding-left: 10px;
}

  .profile-card-row1 .portfolio {
    grid-area: portfolio;
    width: 100% !important;
    margin: 0;
    height: auto;
  }

  .profile-card-row1 .arena {
    grid-area: arena;
    width: 100% !important;
    margin: 0;
    height: auto;
  }

  .profile-card-row1 .mentor-sphere {
    grid-area: mentor;
    width: 100% !important;
    margin: 0;
    height: auto;
  }
}

@media (max-width:660px){
  .profile-extra-details{
    display: none;
  }
}

@media (max-width: 768px) {
  .profile-card-row1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "portfolio"
      "arena"
      "mentor";
  }

  .profile-card-row1 .arena {
    height: 300px;
  }

  .profile-card-row1 .mentor-sphere,
  .profile-card-row1 .arena,
  .profile-card-row2 .app-card,
  .profile-card-row2 .Tech-buzz,
  .profile-card-row2 .tech-vibes,
  .profile-card-row1 .portfolio {
    width: 95% !important;
    margin-left: 15px !important;
  }

  .profile-card-row2 {
    width: 95% !important;
  }
}


.profile-card-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 325px;
  margin-bottom: 30px;
}

.profile-card-row2 .app-card {
  position: relative;
  width: 27%;
  background: transparent linear-gradient(326deg, #FBBB5C 0%, #E66A0E 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #F7AA4B;
  border-radius: 6px;
  margin-right: 15px;
  padding: 15px;
}

.app-card .app-card-text {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  display: block;
}

.app-card .app-card-download-text {
  font-size: 22px;
  font-weight: bold;
  color: #7E3600;
  display: block;
  padding: 8px 0;
}

.app-card .app-img {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.app-card .app-store-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.app-card .app-store-icons img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.portfolio-score-details p{
  margin-top: -10px;
}

.portfolio .skills-container li{
  margin-bottom: 0 !important;
  font-size: 9px;
  font-weight: 500;
}

.profile-card-row2 .Tech-buzz {
  width: 48%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #f7aa4b80;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.Tech-buzz .tech-buzz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Tech-buzz .tech-buzz-header h3 {
  margin: 0;
  font-weight: 600;
  color: #1a1a17;
  font-size: 20px;
}

.Tech-buzz .tech-buzz-header button {
  background: transparent;
  border: none;
  color: #ff6b00;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.Tech-buzz .tech-buzz-header button:hover {
  opacity: 0.7;
}

.Tech-buzz .tech-buzz-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
  gap: 5px;
  max-width: 100%;
}

.Tech-buzz .tech-buzz-images img {
  width: 33.33%;
  height: auto;
  object-fit: cover;
  border-radius: 6px !important;
  display: block;
}

.profile-card-row2 .tech-vibes {
  width: 25%;
  margin-left: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 20px #f7aa4b80;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;
  max-height: 100%;
}

.tech-vibes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.tech-vibes-header h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #1a1a17;
  word-wrap: break-word;
}

.tech-vibes-header button {
  background: transparent;
  border: none;
  color: #EF8C2F;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}

.tech-vibes-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: hidden;
  flex-grow: 1;
}

.tech-vibes-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.tech-vibes-item img {
  width: 100px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.news-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.2;
  word-break: break-word;
}

.news-date {
  margin-top: 8px;
  font-size: 14px;
  color: #737373;
}

.tech-vibes-item div {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vibe-content h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.vibe-content p {
  font-size: 10px;
  color: #000;
}

@media (max-width: 1024px) {
  .profile-card-row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "app app"
      "buzz vibes";
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .profile-card-row2 .app-card {
    grid-area: app;
    width: 100% !important;
    height: auto;
    margin-top: 10px;
  }

  .app-sub-card {
    margin-left: 200px;
  }

  .app-card .app-img img {
    width: 80%;
  }

  .profile-card-row2 .Tech-buzz {
    grid-area: buzz;
    width: 100% !important;
    height: 300px;
    margin: 0;
  }

  .profile-card-row2 .tech-vibes {
    grid-area: vibes;
    width: 100% !important;
    height: 300px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .profile-card-row2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "app"
      "buzz"
      "vibes";
  }

  .profile-card-row2>div {
    width: 100% !important;
  }

  .profile-card-row2 .app-card {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .app-card .app-img {
    position: relative;
    width: 50%;
    margin-top: -18%;
    margin-left: 30%;
  }

  .app-card .app-sub-card {
    margin-left: 0;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  .app-card .app-card-text {
    text-align: center;
  }

  .app-card .app-store-icons {
    justify-content: center;
  }
}


@media (max-width: 1200px) {

  .tech-vibes-item img {
    width: 90px;
    height: 80px;
  }

  .news-title {
    font-size: 16px;
  }

  .news-date {
    font-size: 13px;
  }
}

@media screen and (min-width:1400px) and (max-width:1600px) {
  .vibe-content h4 {
    font-size: 12px;
  }
}

@media screen and (min-width:1303px) and (max-width:1400px) {
  .vibe-content h4 {
    font-size: 10px;
  }

  .vibe-content p {
    font-size: 8px;
  }
}

@media screen and (min-width:1302px) and (max-width:1366px) {
  .app-card .app-img {
    width: 85%;
  }
}

@media screen and (min-width:1025px) and (max-width:1041px) {
  .app-card .app-img {
    width: 85%;
  }
}

@media screen and (max-width:1302px) {
  .robo-container .robo-card {
    margin-top: 80px !important;
  }
}

@media screen and (max-width:992px) {
  .robo-card-para {
    margin-left: 80px;
    font-size: 16px;
  }
}

@media screen and (max-width:768px) {
  .robo-container .robo-card {
    margin-top: 30px !important;
  }

  .robo-card .robo-card-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 120px;
  }

  .robo-card-text .robo-card-para {
    margin-left: 0;
    margin-top: 15px;
    text-align: left;
    width: 100%;
  }
}

@media screen and (max-width:576px) {

  .robo-container .robo-card {
    margin-top: 60px !important;
  }

  .robo-card .robo-img {
    position: relative;
    margin-top: -80px;
  }

  .robo-img img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .robo-card .container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }

  .robo-card .robo-card-text {
    margin-left: 0;
    align-items: center;
  }

  .robo-card-text .robo-card-para {
    text-align: center;
    margin-top: 5px;
  }

  .robo-card-text button {
    margin-bottom: 10px;
  }
}